#DATA CLEANING

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=('a', 'c', 'e', 'f', 'h'), columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=('a', 'c', 'e', 'f', 'h'), columns=['one', 'two', 'three'])
print(df)
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)

        one       two     three
a -1.107014  1.166154  0.613543
c  1.356082 -0.915878  0.126643
e  0.804859 -0.489646 -1.153558
f  0.299020  0.005383 -1.241127
h -0.302551 -1.399181 -1.811191
        one       two     three
a -1.107014  1.166154  0.613543
b       NaN       NaN       NaN
c  1.356082 -0.915878  0.126643
d       NaN       NaN       NaN
e  0.804859 -0.489646 -1.153558
f  0.299020  0.005383 -1.241127
g       NaN       NaN       NaN
h -0.302551 -1.399181 -1.811191

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=('a', 'c', 'e', 'f', 'h'), columns=['one', 'two', 'three'])
print(df)
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df['one'].isnull())

        one       two     three
a  0.261582 -0.060531  0.155750
c -0.562286  1.360729  0.573203
e  1.117885 -1.313823  1.248239
f -0.133030  1.146915  1.084611
h -1.214168  0.277377  1.110541
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=('a', 'c', 'e', 'f', 'h'), columns=['one', 'two', 'three'])
df = df.reindex(['a','b','c'])
print(df)
print('Nan replaced with 0;')
print(df.fillna(0))

        one       two     three
a  1.520059  1.066105 -0.510125
b       NaN       NaN       NaN
c  0.461185 -0.180263  0.112372
Nan replaced with 0;
        one       two     three
a  1.520059  1.066105 -0.510125
b  0.000000  0.000000  0.000000
c  0.461185 -0.180263  0.112372

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=('a', 'c', 'e', 'f', 'h'), columns=['one', 'two', 'three'])
print(df)
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print('........')
print(df.fillna(method='pad'))

        one       two     three
a -0.332544  0.807402 -1.814404
c  0.440687 -0.543737  0.976318
e  0.526662 -2.923698 -0.259785
f -1.124216  0.095442 -0.122878
h  0.020225 -0.585116  1.774781
        one       two     three
a -0.332544  0.807402 -1.814404
b       NaN       NaN       NaN
c  0.440687 -0.543737  0.976318
d       NaN       NaN       NaN
e  0.526662 -2.923698 -0.259785
f -1.124216  0.095442 -0.122878
g       NaN       NaN       NaN
h  0.020225 -0.585116  1.774781
........
        one       two     three
a -0.332544  0.807402 -1.814404
b -0.332544  0.807402 -1.814404
c  0.440687 -0.543737  0.976318
d  0.440687 -0.543737  0.976318
e  0.526662 -2.923698 -0.259785
f -1.124216  0.095442 -0.122878
g -1.124216  0.095442 -0.122878
h  0.020225 -0.585116  1.774781

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=('a', 'c', 'e', 'f', 'h'), columns=['one', 'two', 'three'])
print(df)
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df.fillna(method='bfill'))

        one       two     three
a  0.204062 -0.035892  0.954145
c  0.810003  1.390763 -0.600506
e  0.309228  1.433723  1.365143
f -1.009287  1.641376 -0.535355
h  1.949606 -1.239001 -0.460087
        one       two     three
a  0.204062 -0.035892  0.954145
b  0.810003  1.390763 -0.600506
c  0.810003  1.390763 -0.600506
d  0.309228  1.433723  1.365143
e  0.309228  1.433723  1.365143
f -1.009287  1.641376 -0.535355
g  1.949606 -1.239001 -0.460087
h  1.949606 -1.239001 -0.460087

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=('a', 'c', 'e', 'f', 'h'), columns=['one', 'two', 'three'])
print(df)
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print(df.dropna())

        one       two     three
a -0.323095  0.745895 -0.573996
c -1.090911  1.610688 -0.013878
e -0.292239  0.113626 -1.306706
f  0.637422 -1.292283 -0.406118
h  0.537979  0.153162  1.118384
        one       two     three
a -0.323095  0.745895 -0.573996
b       NaN       NaN       NaN
c -1.090911  1.610688 -0.013878
d       NaN       NaN       NaN
e -0.292239  0.113626 -1.306706
f  0.637422 -1.292283 -0.406118
g       NaN       NaN       NaN
h  0.537979  0.153162  1.118384
        one       two     three
a -0.323095  0.745895 -0.573996
c -1.090911  1.610688 -0.013878
e -0.292239  0.113626 -1.306706
f  0.637422 -1.292283 -0.406118
h  0.537979  0.153162  1.118384

In [ ]:
df = pd.read_csv('/content/titanic.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df = pd.read_csv('/content/titanic.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [ ]:
df =df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 12 to 414
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  87 non-null     int64
 1   Survived     87 non-null     int64
 2   Pclass       87 non-null     int64
 3   Name         87 non-null     object
 4   Sex          87 non-null     object
 5   Age          87 non-null     float64
 6   SibSp        87 non-null     int64
 7   Parch        87 non-null     int64
 8   Ticket       87 non-null     object
 9   Fare         87 non-null     float64
 10  Cabin        87 non-null     object
 11  Embarked     87 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 8.8+ KB

In [ ]:
import pandas as pd

df = pd.DataFrame({'Pclass': [1, 2, 3], 'Sex': ['male', 'female', 'male'], 'Embarked': ['C', 'S', 'Q']})
print(df)

dummies = []
cols = ['Pclass', 'Sex', 'Embarked']
for col in cols:
  dummies.append(pd.get_dummies(df[col]))

   Pclass     Sex Embarked
0       1    male        C
1       2  female        S
2       3    male        Q

In [ ]:
dummies = []
cols = ['Pclass', 'sex', 'Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))

dummies_combined = pd.concat(dummies, axis=1)  # Combine the dummies into a single DataFrame
print(dummies_combined)

In [ ]:
titanic_dummies = pd.concat(dummies, axis=1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
data = [[-1,2],[-0.5, 6],[0, 10],[1, 10]]
scalar = MinMaxScaler()
print(scalar.fit(data))
print('--------------')
print(scalar.data_max_)
print('-----------------')

MinMaxScaler()
--------------
[ 1. 10.]
-----------------

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler
data = asarray([[100, 0.001],[8, 0.05],[50, 0.005],[88, 0.07],[4, 0.1]])
print(data)

scaler = StandardScaler()
scaled = scaler.fit_transform(data)
print(scaled)

[[1.0e+02 1.0e-03]
 [8.0e+00 5.0e-02]
 [5.0e+01 5.0e-03]
 [8.8e+01 7.0e-02]
 [4.0e+00 1.0e-01]]
[[ 1.26398112 -1.16389967]
 [-1.06174414  0.12639634]
 [ 0.         -1.05856939]
 [ 0.96062565  0.65304778]
 [-1.16286263  1.44302493]]